class Secrets {
  static const String googleDesktopClientId = 'YOUR_DESKTOP_CLIENT_ID';
  static const String googleDesktopClientSecret = 'YOUR_DESKTOP_CLIENT_SECRET';
  static const String googleMobileClientId = 'YOUR_MOBILE_CLIENT_ID';
}
