name: Build and Release APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Create secrets.dart
        run: |
          cat <<EOF > lib/src/config/secrets.dart
          class Secrets {
            static const String googleDesktopClientId = '${{ secrets.GOOGLE_DESKTOP_CLIENT_ID }}';
            static const String googleDesktopClientSecret = '${{ secrets.GOOGLE_DESKTOP_CLIENT_SECRET }}';
            static const String googleMobileClientId = '${{ secrets.GOOGLE_MOBILE_CLIENT_ID }}';
          }
          EOF

      - name: Generate Launcher Icons
        run: flutter pub run flutter_launcher_icons

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: pennypilot-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
