name: 7MB APK CI/CD
on: 
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - uses: subosito/flutter-action@v2
      with: 
        channel: stable
        cache: true

    - name: Create Secrets
      env:
        SECRETS_DART: ${{ secrets.SECRETS_DART }}
        GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
      run: |
        echo "$SECRETS_DART" > lib/src/config/secrets.dart
        echo "$GOOGLE_SERVICES_JSON" > android/app/google-services.json

    - name: Build
      run: |
        flutter clean
        flutter pub get
        flutter build apk --release \
          --target-platform android-arm64 \
          --split-per-abi \
          --obfuscate \
          --split-debug-info=build/app/outputs/symbols
          
    - uses: actions/upload-artifact@v4
      with:
        name: pennypilot-7mb-apk
        path: build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
